<div class="main-container">
  <div class="header">
    <div class="nav-bar">
      <div class="sub-nav-bar">
        <div><img src="assets/worldpedialogo.png" alt="logo" width="170"></div>
        <div class="text-end">
          <p>Best list of all countries with their flags</p>
          <p>on the whole internet !!!</p>
        </div>
      </div>
      <div class="search-bar d-flex w-75 m-auto shadow rounded">
        <input type="text" class="form-control">
        <button class="btn ms-2">SEARCH</button>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="sub-footer">
      <div><a href=""><img src="assets/worldpedialogo.jpg" alt="logo" width="170"></a></div>
      <div class="text-end">
        <input type="email" class="form-control rounded-1 w-100" placeholder="Enter Email" >
        <button class="btn mt-3">SUBSCRIBE</button>
      </div>
    </div>
    <div class="footer-text d-flex justify-content-between">
      <p class="link-text"><a href="">WorldPedia Inc</a></p>
      <p>20203 | All Rights Reserved</p>
     </div>
  </div>
</div>